<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicY</title>
    <link rel="stylesheet" type="text/css" href="/css/Upload.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
    <script src="/js/Upload.js"></script>
    <script src="/js/picyConfig.js"></script>
</head>

<body class="bg-gray-100 h-screen flex overflow-hidden">
<!-- 左边 -->
<aside class="w-64 bg-white p-4 shadow-md">
    <h1 class="text-xl font-bold mb-6">PicY</h1>
    <nav class="space-y-2">
        <button onclick="changeTab('图床配置')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="图床配置">图床配置
        </button>
        <button onclick="changeTab('上传图片')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="上传图片">上传图片
        </button>
        <button onclick="changeTab('图片管理')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="图片管理">图片管理
        </button>
        <button onclick="changeTab('图片设置')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="图片设置">图片设置
        </button>
        <button onclick="changeTab('工具箱')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="工具箱">工具箱
        </button>
        <button onclick="changeTab('帮助反馈')"
                class="tab-btn block w-full text-left p-3 rounded-lg hover:bg-gray-300 mb-2"
                data-tab="帮助反馈">帮助反馈
        </button>

    </nav>
</aside>

<!-- 右边 -->
<main class="flex-1 p-6 flex flex-col h-full">
    <!-- 设置框 -->
    <div class="flex justify-between items-center mb-6">
        <h4 class="text-4xl font-semibold" id="activeTab">图床配置</h4>
        <div class="flex gap-4 items-center relative">
            <div class="relative">
                <!-- 通知图标，点击时显示模态框 -->
                <div class="flex items-center space-x-4">
                    <i class="fas fa-bell text-gray-600 text-xl cursor-pointer" onclick="toggleModal(true)"></i>
                    <i class="fas fa-cog text-gray-600 text-xl cursor-pointer" onclick="toggleSettings(event)"></i>
              </div>

                <div id="settingsDropdown" class="absolute right-0 mt-2 w-56 bg-white shadow-lg rounded-lg p-4 hidden">
                    <div class="space-y-4">
                        <div class="flex items-center space-x-2">
                            <span class="flex items-center w-10 h-6 bg-gray-300 rounded-full p-1 cursor-pointer"
                                  onclick="toggleSwitch('watermark')">
                                <span id="watermark"
                                      class="bg-white w-4 h-4 rounded-full shadow transform duration-300 ease-in-out"></span>
                            </span>
                            <span class="whitespace-nowrap">图片水印</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <span class="flex items-center w-10 h-6 bg-gray-300 rounded-full p-1 cursor-pointer"
                                  onclick="toggleSwitch('compress')">
                                <span id="compress"
                                      class="bg-white w-4 h-4 rounded-full shadow transform duration-300 ease-in-out"></span>
                            </span>
                            <span class="whitespace-nowrap">压缩图片</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <span class="flex items-center w-10 h-6 bg-gray-300 rounded-full p-1 cursor-pointer"
                                  onclick="toggleSwitch('markdown')">
                                <span id="markdown"
                                      class="bg-white w-4 h-4 rounded-full shadow transform duration-300 ease-in-out"></span>
                            </span>
                            <span class="whitespace-nowrap">转换 Markdown</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <span class="flex items-center w-10 h-6 bg-gray-300 rounded-full p-1 cursor-pointer"
                                  onclick="toggleSwitch('Hashization')">
                                <span id="Hashization"
                                      class="bg-white w-4 h-4 rounded-full shadow transform duration-300 ease-in-out"></span>
                            </span>
                            <span class="whitespace-nowrap">哈希化</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 公告框 -->
    <div id="notificationModal"
         class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-lg shadow-lg w-1/3 hidden">
        <div class="flex justify-between items-center mb-4">
            <h3 class="text-xl font-semibold">网站公告</h3>
            <button onclick="toggleModal(false)" class="text-gray-600 text-lg">&times;</button>
        </div>
        <ul class="text-gray-700">
            <li th:each="notice : ${notices}" th:text="${notice}"></li>
        </ul>
        <div class="mt-4 text-right">
            <button onclick="toggleModal(false)" class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400">关闭
            </button>
        </div>
    </div>

    <!-- 主体 -->
    <div class="p-6 bg-white shadow rounded-lg mt-4 w-full h-full flex flex-col overflow-auto">
        <div id="图床配置" class="tab-content ">
            <br>
            <div class="p-6 bg-white shadow rounded-lg w-full">
                <!-- 输入框 + 一键配置 -->
                <div class="flex items-center space-x-4 mb-4">
                    <input type="password" id="accessKeyId" placeholder="请输入你的 accessKeyId"
                           class="w-5/6 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"><br>
                    <input type="password" id="accessKeySecret" placeholder="请输入你的 accessKeySecret"
                           class="w-5/6 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"><br>
                    <input type="text" id="bucketName" placeholder="请输入你的 bucketName"
                           class="w-5/6 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"><br>
                    <button onclick="autoConfigure()" class="px-4 py-2 bg-blue-500 text-white rounded-lg whitespace-nowrap">配置</button>
                </div>

                <!-- 用户名 & 仓库 -->
                <div class="grid grid-cols-2 gap-4 items-center border p-4 rounded-lg">
                    <div class="flex items-center space-x-2">
                        <i class="fas fa-user text-gray-600"></i>
                        <span class="text-gray-700">位置：</span>
                        <span id="location" class="text-blue-600 cursor-pointer">xxx</span>
                    </div>

                    <div class="flex items-center space-x-2">
                        <i class="fas fa-link text-gray-600"></i>
                        <span class="text-gray-700">仓库：</span>
                        <span id="repo" class="text-blue-600 cursor-pointer">xxx</span>
                    </div>
                </div>


                <!-- 目录 -->
                <div class="grid grid-cols-3 gap-4 items-center border p-4 rounded-lg mt-4">
                    <!-- 左侧标题 -->
                    <div class="flex items-center space-x-2">
                        <i class="fas fa-folder text-gray-600"></i>
                        <span class="text-gray-700">目录：</span>
                    </div>

                    <!-- 目录选项和输入框 -->
                    <div class="col-span-2 flex items-center space-x-6">
                        <div class="flex items-center space-x-2">
                            <input type="radio" name="dirType" value="root" checked>
                            <label>根目录</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="radio" name="dirType" value="date">
                            <label>日期目录</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="radio" name="dirType" value="custom">
                            <label>新建目录</label>
                        </div>
                        <!-- 新建目录输入框 -->
                        <input type="text" id="customDir" class="border p-2 rounded-lg w-1/3 hidden">
                        <!-- 确定按钮 -->
                        <button onclick="submitConfig()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="上传图片" class="tab-content hidden">
            <div class="dropzone" id="dropzone">
                <span>拖拽 / 粘贴 / 点击此处选择图片</span>
            </div>
            目录：
            <button onclick="submitConfig()" class="px-4 py-2 bg-blue-500 text-white rounded-lg">上传
            </button>
        </div>
        <!--TODO-->
        <div id="图片管理" class="tab-content hidden">
            <p>图片管理内容</p>
        </div>
        <div id="图片设置" class="tab-content hidden">
            <p>图片设置内容</p>
        </div>
        <div id="工具箱" class="tab-content hidden">
            <p>工具箱功能</p>
        </div>
        <div id="帮助反馈" class="tab-content hidden">
            <p>帮助反馈信息</p>
        </div>

    </div>
</main>


<input type="file" id="fileInput" style="display:none;">

</body>
</html>